<div class="row mt-3">
    <div class="col">
      <h4>New <span class="fst-italic">running-config</span> Backup</h4>
    </div>
</div>


<div class="row mt-3">
    <div class="col-auto">
      <%= render 'form', switch_config: @switch_config %>
    </div>
</div>
