<p id="notice"><%= notice %></p>

<div class="row">
    <div class="col">
      <span class="h4">Slots In <%= @switch.name %></span>
      <%= link_to 'Add A Slot', new_switch_slot_path, class: 'btn btn-success float-end', type: 'button' %>
    </div>
</div>

<%= render "slots_table", slots: @slots %>
