<div class="row">
  <div class="col">
    <span class="h5">Welcome to the switch tool.</span>
  </div>
</div>

<div class="row">
  <div class="col">
    <div id="goat_logger_channel">
    </div>
  </div>
</div>
