<div class="row">
  <div class="col">
    <span class="h5">Welcome to the switch tool.</span>
  </div>
</div>

<div id="provisioning_form_channel" class="row">
  <div class="col">
    Something
  </div>
</div>
