<p id="notice"><%= notice %></p>

<div class="row">
    <div class="col-auto">
      <%= render 'port_card', port: @port %>
    </div>
    <div class="col">

      <% if @port.suspended? %>
        <div class="row">
          <div class="col">
            This port has been suspended since <%= @port.suspended_at %>
          </div>
        </div>
      <% end %>

    </div>
</div>

