<div class="card">
  <div class="card-body">
    <h5 class="card-title text-center">
      Subnet
    </h5>
    <h6 class="card-subtitle mb-4 text-muted text-center">
      <%= subnet.name %>
    </h6>

    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Network Address: <%= subnet.network_address %>/<%= subnet.cidr %>
      </li>
    </ul>
  </div>
</div>
