<div class="card">
  <div class="card-body">
    <h5 class="card-title text-center">
      Shared network
    </h5>
    <h6 class="card-subtitle mb-4 text-muted text-center">
      <%= shared_network.name %>
    </h6>

    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        relayed from: <%= shared_network.relayed_from_ip %>
      </li>
    </ul>
  </div>
</div>
