<p id="notice"><%= notice %></p>

<h1>Shared Networks</h1>

<%= render 'shared_networks_table', shared_networks: @shared_networks %>

<br>

<%= link_to 'New Shared Network', new_dhcp_server_shared_network_path %>
