<p id="notice"><%= notice %></p>

<div class="row">
    <div class="col">
        <span class="h4">Switches</span>
        <%= link_to 'Add A Switch', new_switch_path, class: "btn btn-success float-end", type: "button" %>
    </div>
</div>

<%= render "switches_table", switches: @switches %>
