<p id="notice"><%= notice %></p>

<h1>Provisioning Records</h1>

<%= render 'provisioning_records_table', provisioning_records: @provisioning_records %>

<br>

<%= link_to 'New Provisioning Record', new_provisioning_record_path %>
