<p id="notice"><%= notice %></p>

<div class="row">
    <div class="col-auto">
      <%= render 'provisioning_record_card', provisioning_record: @provisioning_record %>
    </div>
</div>

<%= link_to 'Edit', edit_provisioning_record_path(@provisioning_record) %> |
<%= link_to 'Back', provisioning_records_path %>
