<p id="notice"><%= notice %></p>

<div class="row">
    <div class="col">
      <span class="h4">ONTs</span>
      <%= link_to 'New ONT', new_ont_path, class: 'btn btn-success float-end', type: 'button' %>
    </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= render 'onts_table', onts: @onts %>
  </div>
</div>
