<p id="notice"><%= notice %></p>

<div class="row">
    <div class="col">
        <span class="h4">Customers</span>
        <%= link_to 'Add A Customer', new_customer_path, class: 'btn btn-success float-end', type: 'button' %>
    </div>
</div>
<%= render "customers_table", customers: @customers %>
