// Fonts
// @import url(https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);

@import 'material-icons';

// Typography
$font-stack: 'Roboto';
$font-size-base: 1.5rem;

body {
    font-family : $font-stack !important;
    font-size : $font-size-base;
}

turbo-frame {
  display: block;
  border: 1px solid blue;
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  margin-top: 45px;
  width: 100%;
  @include box_sizing;
}
