<div class="card">
  <div class="card-body">
    <h5 class="card-title text-center">
      <%= dhcp_server.name %>
    </h5>
    <h6 class="card-subtitle mb-4 text-muted text-center">
      <%= dhcp_server.server_type %>
    </h6>
  </div>
</div>
