<p id="notice"><%= notice %></p>

<div class="row">
    <div class="col">
        <span class="h4">DHCP Servers</span>
        <%= link_to 'Add A DHCP Server', new_dhcp_server_path, class: 'btn btn-success float-end', type: 'button' %>
    </div>
</div>

<div class="row">
  <div class="col">
    <%= render 'dhcp_servers_table', dhcp_servers: @dhcp_servers %>
  </div>
</div>
