<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Customer</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% locations.each do |location| %>
      <tr>
        <td class="text-end">
          <% if location.provisioned? %>
            <span class="material-icons text-success">beenhere</span>
          <% else %>
            <!-- <span class="material-icons-outlined text-muted">tag</span> -->
          <% end %>
        </td>
        <td><%= link_to location.name, location %></td>
        <td><%= link_to location.customer.full_name, location.customer %></td>
        <td><%= link_to 'Edit', edit_location_path(location) %></td>
        <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
