<p id="notice"><%= notice %></p>

<div class="row">
    <div class="col">
      <span class="h4">Service Locations</span>
      <% if @customer %>
        <%= link_to 'Add A Service Location', new_customer_location_path(@customer), class: "btn btn-success float-end", type: "button" %>
      <% end %>
    </div>
</div>

<%= render "locations_table", locations: @locations %>
