<div class="row mt-4 mb-5">
    <div class="col">
        <span class="h4">New Service Location for <%= @customer.full_name %></span>
    </div>
</div>

<%= render 'form', {customer: @customer, location: @location} %>
