<div class="card">
  <div class="card-body">
    <h5 class="card-title text-center">
      IP Address
    </h5>
    <h6 class="card-subtitle mb-4 text-muted text-center">
      subtitle
    </h6>

    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <%= ip.address %>
      </li>
    </ul>
  </div>
</div>
